__pycache__
.cache
.coverage
.coverage.*
.env
.git
.hypothesis
.mypy_cache
.pytest_cache
.Python
.tox
.venv
*.cover
*.log
*.pyc
*.pyd
*.pyo
coverage.xml
env.bak/
env/
ENV/
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
venv.bak/
venv/
